@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.app{
    font-family: Poppins, sans-serif;
}
.app__title{
    font-size: 35px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 540px;
}
.app__detail{
    margin-left: 38%;
    margin-top: -38px;
}
.app__intro{
    font-size: 20px;
    padding: 200px 200px 200px 10px;
}
.app__image{
    height: 600px;
    width: 500px;
    float: right;
}
.app__problem{
    margin-top: 80px;
    margin-left: 12em;
    margin-bottom: 80px;
    padding: 60px;
}
.app__desc{
    padding: 110px;
    margin-left: 280px;
    font-style: italic;
    font-size: 16px;
}
.app__start{
    margin-left: 410px;
}
.app__classify{
    padding: 80px;
    padding-left: 30em;
}
.app__picker{
    margin: 0;
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #ced4da;
    border-radius: 99px;
    margin-right: 28px;
}